{
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
      "es6": true,
      "browser": true,
      "node": true
  },
  "rules": {
      "quotes": [2, "single"],
      "semi": ["error", "never"],
      "react/jsx-indent": [2, 2]
  }
}